<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alon.androiddevtool">

    <application android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".DBTableActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".EditFileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".AndroidDevToolActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="AndroidDevTool" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>